<nav>
  <ul>
    <li>
      <h3><strong>Pantry</strong></h3>
    </li>
  </ul>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (user) { %>
    <li>
      <a href="/users/<%= user._id %>/foods">View My Pantry</a>
    </li>
    <li>
      <a href="/users/">Explore Community</a>
    </li>
    <li><a href="/auth/sign-out">Sign Out</a></li>
    <% } else { %>
    <li><a href="/auth/sign-in">Sign In</a></li>
    <li><a href="/auth/sign-up">Sign Up</a></li>
    <% } %>
  </ul>
</nav>
